In [27]:
import sqlalchemy as sq
import pandas as pd

db = sq.create_engine('sqlite:///olists_db.sqlite',echo=False)
conn = db.connect()

# Costumer Dataset

In [28]:
# Importando o df
costumers_dataset = pd.read_csv('olist_customers_dataset.csv')

# Criando a tabela
query = """CREATE TABLE costumers_table (
customer_id                 TEXT,
customer_unique_id          TEXT,
customer_zip_code_prefix     INTEGER,
customer_city               TEXT,
customer_state              TEXT
)"""

conn.execute(query)

In [29]:
# Exportando o df
costumers_dataset.to_sql('costumers_table',conn,if_exists='append',index=False)

In [30]:
# Vendo se est√° tudo certo
pd.read_sql_table('costumers_table',conn).head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

# Geolocation Dataset

In [31]:
conn.execute("""CREATE TABLE geolocation_table (
geolocation_zip_code_prefix      INTEGER,
geolocation_lat                REAL,
geolocation_lng                REAL,
geolocation_city                TEXT,
geolocation_state               TEXT
)""")

In [32]:
geolocation_dataset = pd.read_csv('olist_geolocation_dataset.csv')
geolocation_dataset.to_sql('geolocation_table',conn,if_exists='append',index=False)

In [33]:
pd.read_sql_table('geolocation_table',conn).head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

# Order Itens Dataset

In [34]:
conn.execute("""CREATE TABLE order_items_table (
order_id                TEXT,
order_item_id            INTEGER,
product_id              TEXT,
seller_id               TEXT,
shipping_limit_date     TEXT,
price                  REAL,
freight_value          REAL
)""")

In [35]:
olist_order_items_dataset = pd.read_csv('olist_order_items_dataset.csv')
olist_order_items_dataset.to_sql('order_items_table',conn,if_exists='append',index=False)

In [36]:
pd.read_sql_table('order_items_table',conn).head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

# Order Payments Dataset

In [37]:
order_payments_dataset = pd.read_csv('olist_order_payments_dataset.csv')

conn.execute("""CREATE TABLE olist_order_payments_table (
order_id                 TEXT,
payment_sequential        INTEGER,
payment_type             TEXT,
payment_installments      INTEGER,
payment_value           REAL
)""")

order_payments_dataset.to_sql('olist_order_payments_table',conn,if_exists='append',index=False)
pd.read_sql_table('olist_order_payments_table',conn)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

# Order Reviews Dataset

In [38]:
olist_order_reviews_dataset = pd.read_csv('olist_order_reviews_dataset.csv')
conn.execute(""" CREATE TABLE olist_order_reviews_table (
review_id                  TEXT,
order_id                   TEXT,
review_score                INTEGER,
review_comment_title       TEXT,
review_comment_message     TEXT,
review_creation_date       TEXT,
review_answer_timestamp    TEXT)""")

In [39]:
olist_order_reviews_dataset.to_sql('olist_order_reviews_table',conn,if_exists='append',index=False)

# Olist Orders

In [48]:
olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv')
conn.execute("""CREATE TABLE olist_orders_table (
order_id                         TEXT,
customer_id                      TEXT,
order_status                     TEXT,
order_purchase_timestamp         TEXT,
order_approved_at                TEXT,
order_delivered_carrier_date     TEXT,
order_delivered_customer_date    TEXT,
order_estimated_delivery_date    TEXT)""")

In [49]:
olist_orders_dataset.to_sql('olist_orders_table',conn,if_exists='append',index=False)

# Olist Products

In [53]:
olist_products_dataset = pd.read_csv('olist_products_dataset.csv')
conn.execute("""CREATE TABLE olist_products_table (
product_id                     TEXT,
product_category_name          TEXT,
product_name_lenght           REAL,
product_description_lenght    REAL,
product_photos_qty            REAL,
product_weight_g              REAL,
product_length_cm             REAL,
product_height_cm             REAL,
product_width_cm              REAL)""")

In [54]:
olist_products_dataset.to_sql('olist_products_table',conn,if_exists='append',index=False)

# Olist Sellers

In [58]:
olist_sellers_dataset = pd.read_csv('olist_sellers_dataset.csv')
conn.execute("""CREATE TABLE olist_sellers_table (
seller_id                 TEXT,
seller_zip_code_prefix     INTEGER,
seller_city               TEXT,
seller_state              TEXT)""")

In [59]:
olist_sellers_dataset.to_sql('olist_sellers_table',conn,if_exists='append',index=False)

# Product Category Name Translation

In [69]:
product_category_name_translation_dataset = pd.read_csv('product_category_name_translation.csv')
conn.execute("""CREATE TABLE product_category_name_translation_table(
product_category_name            TEXT,
product_category_name_english    TEXT)""")

In [70]:
product_category_name_translation_dataset.to_sql('product_category_name_translation_table',conn,if_exists='append',index=False)

#

In [12]:
import pandas as pd
olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv')
olist_orders_dataset['customer_id'].value_counts().unique()

array([1])